extends infolayoutadmin

block content
    .container-3    
        nav.navbar.fixed-top-left.navbar-expand-lg.navbar-dark.scrolling-navbar
            a.navbar-brand(href='#')
                strong TayLog
            #navbarSupportedContent
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/users/logout', role='button')
                            | Logout 
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/manageradmin', role='button')
                            | Go Back
                            span.sr-only
                    
                    
        








            
        .view.intro.hm-purple-light(style='height: 400px;')
    .container1
        .container2
            h1= accounts.teamname
            h2= 'Starting Linup'
            h3= 'Center:' + accounts.player1
            h3= 'Shooting Guard:' + accounts.player2
            h3= 'Point Guard:' + accounts.player3
            h3= 'Small Foward:' + accounts.player4
            h3= 'Power Foward:' + accounts.player5

        

