extends managerlayout

block content
        
        
   
        
        
        
        
        
        
        
        
    
    .container       
        table#mytable.table.table-bordred.table
            thead
                tr
                th Team


                th Confrence

                th W

                th L                     
                
                th Functions 
                          
                tbody
                each account in accounts
                        tr
                            input#id(value=account.id, type='hidden')
                            td
                                p#website=account.teamname
                            td
                                p=account.confname
                            td
                                p=account.wins
                            td
                                p=account.loses
                            td
                                button.btn.btn-outline-light.btn-xs
                                    a(href='/pass/' + account.id) Show Players
                                button.btn.btn-outline-light.btn-xs 
                                    a(href='/remove/' + account.id) Remove
                                button.btn.btn-outline-light.btn-xs
                                    a(href='/edits/' + account.id) Edit Team Info
