extends managerlayoutadmin

block content
    .container-1    
        nav.navbar.fixed-top-left.navbar-expand-lg.navbar-dark.scrolling-navbar
            a.navbar-brand(href='#')
                strong TayLog
            #navbarSupportedContent
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/users/logout', role='button')
                            | Logout 
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/playermanageradmin', role='button')
                            | Player Manager
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/accountadmin', role='button')
                            | View Account
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/add', role='button')
                            | Add Team
                            span.sr-only
        








            .md-form.mt-0
                form(action='/search', method='post', name='submitform')
                    input.form-control#team(name ='team' type='text' placeholder='Search' aria-label='Search')
        .view.intro.hm-purple-light(style='height: 400px;')   




    .container       
        table#mytable.table.table-bordred.table
            thead
                tr
                th Team
                    button.btn.btn-outline-light.btn-xs
                        a(href='/managerteamupadmin') Up
                    button.btn.btn-outline-light.btn-xs
                        a(href='/managerteamdownadmin') Down


                th Confrence
                    button.btn.btn-outline-light.btn-xs
                        a(href='/managerconfupadmin') Up
                    button.btn.btn-outline-light.btn-xs
                        a(href='/managerconfdownadmin') Down

                th W

                th L                     

                th Functions 

                tbody
                each account in accounts
                    tr
                        input#id(value=account.id, type='hidden')
                        td
                            p#website=account.teamname
                        td
                            p=account.confname
                        td
                            p=account.wins
                        td
                            p=account.loses
                        td
                            button.btn.btn-outline-light.btn-xs
                                a(href='/passadmin/' + account.id) Show Players
                            button.btn.btn-outline-light.btn-xs 
                                a(href='/remove/' + account.id) Remove
                            button.btn.btn-outline-light.btn-xs
                                a(href='/edits/' + account.id) Edit Team Info
